{% extends "::base.html.twig" %}

{% block title %}Converter!!!!!{% endblock %}

{% block body %}
 {{ temperature }} degre {{ initialunit }} correspond à {{ result }} degre {{ resultunit }}
{% endblock %}
