{% extends "::base.html.twig" %}

{% block title %}B{% endblock %}
{% block body %}

<ul>

{% for v in verses %}
<li>
<ul>
<li>Name: {{ v.bname }} </li><li>Chapter: {{ v.cnum }} </li><li>Verse #: {{ v.vnum }} </li><li>Text: {{ v.vtext }} </li><li><a href="{{ path('netapsys_bible_single_verse' , {'name' : v.bname, 'chapter' : v.cnum , 'vmin' : v.vnum } ) }}">Commenter</a></li></ul>
</li>
{% endfor %}
</ul>
{% endblock %}


