{% extends "::base.html.twig" %}

{% block title %}B{% endblock %}
{% block body %}

<ul>
  <li>Name: {{ name }}        </li>
  <li>Chapter: {{ chapter }}      </li>
  <li>Verse #: {{ vmin }}     </li>
  <li>Text: {{ vtext }}       </li>
</ul>

{# le action du form est à faire avec un url() ou un path() #}
<form action="#" method="post">
{{ form_widget(form) }}
<button type="submit">Comment</button>
</form>


<ul>
{% for commentaire in commentaires %}
<li>{{ commentaire.texte }}</li>
{% endfor %}
</ul>
{% endblock %}

